<br>
# Mars' Python Tutorial 1

<br>
## Jupyter notebook:

<br>
Jupyter notebooks are made up by "cells", which are the boxes you see below

Each cell has an input region, which are labeled by **In [ ] ** on the left

Press Shift+Enter to run cell

The outputs are printed in the output region, labeled by **Out[ ]**

In [2]:
1+1

2

Here are some useful Jupyter notebook tips and tricks

https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

<br>
## Variable and types
All programming languages have variables, which are values that can be changed.

All valriables have a type, inclusing: <br \>
**char:** characters *(eg: "a","b","c","$")* <br \>
**str:** words or sentences mades up by chars *(eg: "hello world")* <br \>
**int:** interger *(eg: 1)* <br \>
**float:** numbers with decimals *(eg: 1.00)* <br \>
**bool:** True or False

<br>
Use **type( )**, with variable within the parenthesis to return the object's type.

In [1]:
type('Hello World!')

str

All **char** and **string** has to be surrounded by single or double quote, or else an error will occur

In [3]:
type(Hellow World)

SyntaxError: invalid syntax (<ipython-input-3-01ccf3aaebe9>, line 1)

Here are examples of other types of variables

In [6]:
type(None)

NoneType

In [ ]:
type(1000000)

In [ ]:
type(-20.0)

All variables can also be assigned with a name, and be reused later on

In [ ]:
a = 1
b = 2

Variable names have to start with a chacter, and you cannot use a python syntax as a name

In [6]:
$ = 1

SyntaxError: invalid syntax (<ipython-input-6-479ed68c2ced>, line 1)

In [ ]:
list = 1

You can do basic mathematics with python

In [ ]:
1 + 1

In [ ]:
a = 1
b = 2
a + b

String or character variables cannot be used in calculations. 

Can you calculate sushi divided by elephant? That does not make any sense because they are different types

In [ ]:
a = 'apple'
b = 1 
a + b

To print a variable, use the print function: 

**print(** *variables* **)**

In [ ]:
x = "hi"
y = "bye"
print(x)
print(y)

<br>
# Data structures

Think of data strucutres a containters (*structure*) that can hold many variables (*data*)

There are a few data structures in python, each with thier own properties and ways to store data

### **Tuples** are immutable data structures that cannot be altered

You can decare a tuple with the syntax: 

**(** *data1* **,** *data2* ..... **)**

In [10]:
x = (1, 'a', 2, 'b')
type(x)

tuple

<br>
### **Lists** are a mutable data structure.

Declare using syntax: 

**[** *data1* **,** *data2* ..... **]**

In [16]:
y = [1, 'a', 2, 'b']
type(y)

list

You can access the certain elements in a list by using it's index number

python uses zero indexing (starts with 0)

*list_name* **[** *index_number* **]**

In [17]:
y[1]

'a'

A list can also contain other lists

In [ ]:
yy = [[1,2,3],[4,5,6],[7,8,9]]
print(yy)

<br>
Use `append` to add an object to a list.

In [10]:
y.append(3.3)
print(x)

NameError: name 'x' is not defined

As mentioned above, tuples are immutable, so you cannot append anything after declaration

In [11]:
x.append(3.3)

AttributeError: 'tuple' object has no attribute 'append'

<br>
Use `+` to concatenate lists.

In [8]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>
Use `*` to repeat lists.

In [9]:
[1]*3

[1, 1, 1]

Use **len** to find how many elements are in a list

In [19]:
x = [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
len(x)

21

<br>
Use the `in` operator to check if something is inside a list.

In [12]:
1 in [1, 2, 3]

True

### **sets** are unordered data strucutres that dont take repeats

You can declare a tuple with the syntax: 

**{** *data1* **,** *data2* ..... **}**

In [13]:
z = {1,1,1,2,3}
print(z)

{1, 2, 3}

You can remove duplicates in a list by converting it to a set

In [14]:
a = [1,1,1,2,2,2,3,3,3]
set(a)

{1, 2, 3}

### **dictionaries** pairs a key to it's values

You can declare a dictionary using:

**{** *key* **:** *value* **,** ..... **}**

In [17]:
x = {'Mars Huang': 'marshuang80@gmail.com', 'Bill Gates': 'billg@microsoft.com'}
x['Mars Huang'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [ ]:
x['Tony Stark'] = None
x['Tony Stark']

You can set any types as a dictionary value, including lists

In [ ]:
dictionary = {'list1': [1,2,3,4,5], 'list2': [100,200,300,400,500]}
dictionary['list1']