<br>
# Mars' Python Tutorial 2

In [17]:
#Review Exercise: Create a dictionary called classes, with the classes you're taking as key, and the grade that your want to recieve as index
classes = {'bild3': 'A', 'phys2a': 'A', 'cs11': 'A', 'bicd100':'A' }
for courses in classes: 
    classes[courses]
for grades in classes:
    classes[grades]

In [23]:
#Review Exercise: Exercise: print out all key, values from your diciotnary in the following format:
#"The grade that I want to revieve for ____ class is ____"
for courses, grades in classes.items():
    
    print ('The grade that I want to receive for ' + courses +  ' class is ' + grades)

The grade that I want to receive for bicd100 class is A
The grade that I want to receive for bild3 class is A
The grade that I want to receive for phys2a class is A
The grade that I want to receive for cs11 class is A

In [25]:
#Review Exercise: Store your full name in variable "name" and print out the reverse of the even characters
# eg Mars_Huang = gaHsa
name = 'katy zou'
name[::-2]

'uzya'

<br>
# Unpacking
You can unpack a sequence into different variables:

In [26]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com')
fname, lname, email = x

In [27]:
fname

'Mars'

In [28]:
lname

'Huang'

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [29]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com', 'San Diego')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

You can also unpack from a list

In [31]:
x = ['Mars','Huang','marshuang80@gmail.com']
fname, lname, email = x

This is especially useful in functions

In [39]:
def add_mul(a,b):
    return [a+b,a*b]

add,mul = add_mul(2,3)

<br>
# More on Strings and Printing

In [36]:
print('Mars' + 2)

TypeError: Can't convert 'int' object to str implicitly

In [37]:
print('Mars' + str(2))

Mars2

<br>
Python has a built in method for convenient string formatting.

In [41]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

Notice how you don't need to convert int or float to string using format

In [42]:
#Another method
print('%s bought %i item(s) at a price of %f each for a total of %f'%(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.240000 each for a total of 12.960000

In [48]:
#Exercise: print out "I took 'a' shots and drank 'b' bottles of beer yesterday night"
a = 7
b = 2

statement ='I took {} shots and drank {} bottles of beer yesterday night'
print (statement.format(a, b))

I took 7 shots and drank 2 bottles of beer yesterday night

# The Python Programming Language: Functions

In [49]:
x = 1
y = 2
x + y

3

In [50]:
x

1

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [51]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [52]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

<br>
`add_numbers` updated to take an optional flag parameter.

In [53]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

<br>
Assign function `add_numbers` to variable `a`.

In [54]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

In [69]:
##Quiz
#make a function that has two parameters: a list of numbers "num" a second number "val"
#return the sum of all odd numbers in num, minus the sum of all even numbers, 
#and multiply by val if a second parameter is given
num = [14,7,2,4,5,6,9,13,17,4,16,9,0,3]

#write function below
def get_result(num, val=None):
    odd = 0
    even = 0
    for index in num: 
        if (index%2==1):
            odd+=index
        else: even+=index
    if (val==None):
        return odd-even
    else:
        return (odd-even)*val
           
            
    

#two test cases:
print(get_result(num))
print(get_result(num,7))

17
119

# Reading and Writing files

Learning the "with open... as" syntax'

r stands for "read"

In [70]:
with open ("practice.txt","r") as file:
    print(file)

<_io.TextIOWrapper name='practice.txt' mode='r' encoding='UTF-8'>

In [71]:
with open("practice.txt","r") as file:
    print(file.read())

hi guys, name is mars
welcome to my workshop
i enjoy eating mars bars
and i steal them from the candy shop

In [102]:
text = []
with open("practice.txt","r") as file:
    for line in file:
        text.append(line.strip('\n'))
print(text)

['hi guys, name is mars ', 'welcome to my workshop', 'i enjoy eating mars bars', 'and i steal them from the candy shop']

In [78]:
##Pop-quiz: remove the \n symbol from the list

<br>
# CSV files
CSV files stand for comma seperated values, which how programs like excel format their files. 

<img src="example.png">

In [119]:
#Exercise open this file and store the information in a list
text =[]
with open ("cars.csv", "r") as file: 
    for line in file: 
        text.append(line.strip('\n').split(','))
    
print (text[0])

['YEAR', 'Make', 'Model', 'Size', '(kW)', 'Unnamed: 5', 'TYPE', 'CITY (kWh/100 km)', 'HWY (kWh/100 km)', 'COMB (kWh/100 km)', 'CITY (Le/100 km)', 'HWY (Le/100 km)', 'COMB (Le/100 km)', '(g/km)', 'RATING', '(km)', 'TIME (h)']

In [22]:
import csv

%precision 2

with open('cars.csv') as csvfile:
    cars = list(csv.DictReader(csvfile))
    
cars[:3] # The first three dictionaries in our list.

[{'(g/km)': '0',
  '(kW)': '49',
  '(km)': '100',
  'CITY (Le/100 km)': '1.9',
  'CITY (kWh/100 km)': '16.9',
  'COMB (Le/100 km)': '2.1',
  'COMB (kWh/100 km)': '18.7',
  'HWY (Le/100 km)': '2.4',
  'HWY (kWh/100 km)': '21.4',
  'Make': 'MITSUBISHI',
  'Model': 'i-MiEV',
  'RATING': 'n/a',
  'Size': 'SUBCOMPACT',
  'TIME (h)': '7',
  'TYPE': 'B',
  'Unnamed: 5': 'A1',
  'YEAR': '2012'},
 {'(g/km)': '0',
  '(kW)': '80',
  '(km)': '117',
  'CITY (Le/100 km)': '2.2',
  'CITY (kWh/100 km)': '19.3',
  'COMB (Le/100 km)': '2.4',
  'COMB (kWh/100 km)': '21.1',
  'HWY (Le/100 km)': '2.6',
  'HWY (kWh/100 km)': '23.0',
  'Make': 'NISSAN',
  'Model': 'LEAF',
  'RATING': 'n/a',
  'Size': 'MID-SIZE',
  'TIME (h)': '7',
  'TYPE': 'B',
  'Unnamed: 5': 'A1',
  'YEAR': '2012'},
 {'(g/km)': '0',
  '(kW)': '107',
  '(km)': '122',
  'CITY (Le/100 km)': '2.1',
  'CITY (kWh/100 km)': '19.0',
  'COMB (Le/100 km)': '2.2',
  'COMB (kWh/100 km)': '20.0',
  'HWY (Le/100 km)': '2.4',
  'HWY (kWh/100 km)': '21.1',
  'Make': 'FORD',
  'Model': 'FOCUS ELECTRIC',
  'RATING': 'n/a',
  'Size': 'COMPACT',
  'TIME (h)': '4',
  'TYPE': 'B',
  'Unnamed: 5': 'A1',
  'YEAR': '2013'}]

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [23]:
len(cars)

53

<br>
since mpg is a list of dictionaries, `keys` gives us the column names of our csv.

In [15]:
cars[0].keys()

dict_keys(['RATING', 'HWY (kWh/100 km)', 'CITY (Le/100 km)', 'COMB (Le/100 km)', 'TYPE', 'Size', '(km)', 'Model', 'HWY (Le/100 km)', 'Unnamed: 5', 'Make', '(kW)', 'TIME (h)', 'YEAR', 'CITY (kWh/100 km)', 'COMB (kWh/100 km)', '(g/km)'])

In [27]:
##Exercise: calculate the average electricity consumption while driving in the city

2.21

In [29]:
##Exercise2: count how many different brands of cars there are, and print out all the different brands once

8

# List Comprehension

imagine if you can fit your for loops in one line

In [1]:
a = [1,2,3,4,5,6,7]
b = []
for num in a: 
    b.append(num*2)
b

[2, 4, 6, 8, 10, 12, 14]

using the "for... in" syntax, it's almost writing a for loop in reverse

In [ ]:
a = [1,2,3,4,5,6,7]
b = [num*2 for num in a]
b

In [2]:
#Exercise: using list comprehension and "range" syntax to store number 0 to 9 to list "numbers"

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Is this really worth it tho? We can actually include if statements in list comprhension

"__ if ____ else ___ for ___ in ___" or "___ for ____ in ____ if ___"

In [5]:
a = [0,1,2,3,4,5,6,7,8,9,10]
b = [num for num in a if num%2 == 0]
b

[0, 2, 4, 6, 8, 10]

In [6]:
c = [-num if num%2 ==0 else num*10 for num in a]
c

[0, 10, -2, 30, -4, 50, -6, 70, -8, 90, -10]

In [18]:
#Exercise: read in file "practice2.txt". parse each word as an element in the list. 
#return only the first 2 characters for words longer than 5 characters
#captialize words than are shorter than 5 characters
#Use list comprehension!
#eg: ['THE','MAIN','co','FOR','THE','ac','OF','LOVE','IS','THE','ov','OF'.........

['THE',
 'MAIN',
 'co',
 'FOR',
 'THE',
 'ac',
 'OF',
 'LOVE',
 'IS',
 'THE',
 'ov',
 'OF',
 'on',
 'na',
 'THE',
 'na',
 'or',
 'IS',
 'ONE',
 'IN',
 'wh',
 'ONE',
 'ex',
 'AS',
 'REAL',
 'ONLY',
 'THAT',
 'wh',
 'ex',
 'wi',
 'on',
 'wh',
 'THE',
 'ph',
 'IN',
 'THE',
 'ou',
 'wo',
 'HAVE',
 'NO',
 're',
 'IN',
 'th',
 'BUT',
 'ARE',
 'ex',
 'ONLY',
 'FROM',
 'THE',
 'vi',
 'OF',
 'th',
 'be',
 'us',
 'OR',
 'da',
 'TO',
 'ONE.',
 'THE',
 'op',
 'POLE',
 'TO',
 'na',
 'IS',
 'ob',
 'IT',
 'IS',
 'THE',
 'fa',
 'TO',
 'SEE',
 'ot',
 'pe',
 'AND',
 'th',
 'AS',
 'THEY',
 'ARE,',
 'ob',
 'AND',
 'TO',
 'BE',
 'ABLE',
 'TO',
 'se',
 'THIS',
 'ob',
 'pi',
 'FROM',
 'A',
 'pi',
 'wh',
 'IS',
 'fo',
 'BY',
 'on',
 'de',
 'AND',
 'fe']