<br>
# Mars' Python Tutorial 1

<br>
## Jupyter notebook:

<br>
Jupyter notebooks are made up by "cells", which are the boxes you see below

Each cell has an input region, which are labeled by **In [ ] ** on the left

Press Shift+Enter to run cell

The outputs are printed in the output region, labeled by **Out[ ]**

In [2]:
1+1

2

Here are some useful Jupyter notebook tips and tricks

https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

<br>
## Variable and types
All programming languages have variables, which are values that can be changed.

All valriables have a type, inclusing: <br \>
**char:** characters *(eg: "a","b","c","$")* <br \>
**str:** words or sentences mades up by chars *(eg: "hello world")* <br \>
**int:** interger *(eg: 1)* <br \>
**float:** numbers with decimals *(eg: 1.00)* <br \>
**bool:** True or False

<br>
Use **type( )**, with variable within the parenthesis to return the object's type.

In [1]:
type('Hello World!')

str

All **char** and **string** has to be surrounded by single or double quote, or else an error will occur

In [3]:
type(Hellow World)

SyntaxError: invalid syntax (<ipython-input-3-01ccf3aaebe9>, line 1)

Here are examples of other types of variables

In [6]:
type(None)

NoneType

In [ ]:
type(1000000)

In [ ]:
type(-20.0)

You can do basics mathematics with python

In [4]:
20*30

600

All variables can also be assigned with a name, and be reused later on

In [ ]:
a = 1
b = 2

Variable names have to start with a chacter, and you cannot use a python syntax as a name

In [6]:
$ = 1

SyntaxError: invalid syntax (<ipython-input-6-479ed68c2ced>, line 1)

In [ ]:
list = 1

You can do basic mathematics with python

In [ ]:
1 + 1

In [ ]:
a = 1
b = 2
a + b

String or character variables cannot be used in calculations. 

Can you calculate sushi divided by elephant? That does not make any sense because they are different types

In [ ]:
a = 'apple'
b = 1 
a + b

To print a variable, use the print function: 

**print(** *variables* **)**

In [ ]:
x = "hi"
y = "bye"
print(x)
print(y)

<br>
# Data structures

Think of data strucutres a containters (*structure*) that can hold many variables (*data*)

There are a few data structures in python, each with thier own properties and ways to store data

### **Tuples** are an immutable data structures that cannot be altered

You can decare a tuple with the syntax: 

**(** *data1* **,** *data2* ..... **)**

In [10]:
x = (1, 'a', 2, 'b')
type(x)

tuple

<br>
### **Lists** are a mutable data structure.

Declare using syntax: 

**[** *data1* **,** *data2* ..... **]**

In [16]:
y = [1, 'a', 2, 'b']
type(y)

list

You can access the certain elements in a list by using it's index number

python uses zero indexing (starts with 0)

*list_name* **[** *index_number* **]**

In [17]:
y[1]

'a'

A list can also contain other lists

In [ ]:
yy = [[1,2,3],[4,5,6],[7,8,9]]
print(yy)

<br>
Use `append` to add an object to a list.

In [10]:
y.append(3.3)
print(x)

NameError: name 'x' is not defined

As mentioned above, tuples are immutable, so you cannot append anything after declaration

In [11]:
x.append(3.3)

AttributeError: 'tuple' object has no attribute 'append'

<br>
Use `+` to concatenate lists.

In [8]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>
Use `*` to repeat lists.

In [9]:
[1]*3

[1, 1, 1]

Use **len** to find how many elements are in a list

In [19]:
x = [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
len(x)

21

<br>
Use the `in` operator to check if something is inside a list.

In [12]:
1 in [1, 2, 3]

True

### **sets** are unordered data strucutres that dont take repeats

You can declare a tuple with the syntax: 

**{** *data1* **,** *data2* ..... **}**

In [13]:
z = {1,1,1,2,3}
print(z)

{1, 2, 3}

You can remove duplicates in a list by converting it to a set

In [14]:
a = [1,1,1,2,2,2,3,3,3]
set(a)

{1, 2, 3}

### **dictionaries** pairs a key to it's values

You can declare a dictionary using:

**{** *key* **:** *value* **,** ..... **}**

In [17]:
x = {'Mars Huang': 'marshuang80@gmail.com', 'Bill Gates': 'billg@microsoft.com'}
x['Mars Huang'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [ ]:
x['Tony Stark'] = None
x['Tony Stark']

You can set any types as a dictionary value, including lists

In [ ]:
dictionary = {'list1': [1,2,3,4,5], 'list2': [100,200,300,400,500]}
dictionary['list1']

## List indexing

Get a range of values in a list using list indexing

*list_name* **[** *start_index* **:** *stop_index* **:** *step_size* **]**

the index number can be reversed with the **-** sign (eg *-1* is last index)

by default python automates list indexing as **[** *0* **:** *-1* **:** *1* **]**

note that the range will **STOP** before the *stop_index*

In [21]:
x = ['a','b','c','d','e']
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:3]) #first 3 characters
print(x[:3]) # also first 3 (start index defaults to 0)

a
['a']
['a', 'b', 'c']
['a', 'b', 'c']

<br>
This will return the last element of the string.

In [13]:
x[-1]

'g'

get the reverse of a list by using negative step size

In [22]:
x[::-1]

['e', 'd', 'c', 'b', 'a']

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [ ]:
x[-4:-2]

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [14]:
x[:3]

'Thi'

<br>
And this is a slice starting from the 3rd element of the string and going all the way to the end.

In [15]:
x[3:]

's is a string'

<br>
Strings are a list of characters

In [ ]:
a = "hello world!"
a[2:5]

In [9]:
#EXERCISE: set y to your name and print out characters from y one at time using for loop

In [11]:
#EXERCISE: set variable name to your full name and print out the reverse of your last name using list slicing
name =

# Loops 

Loops are used to execuate a code for multiple times

### while loops 

while loops are used to execute a block of code until the initial conidtion becomes True


**while** *condition* **:**
    
    *<CODE>*
    
    *<CODE>*
    
    *......*
    
**warning** if a conidition is never reached, while loops will run forever

In [ ]:
a = 0
while a != 10:    #!= (not equals to), == (equalts to), > (greater than), < (less than) = (variable assignment)
       a += 1     #+= (same as : a = a + 1 )
print(a)

### for loops

for loops get each item in a list, give it a temporary variable name, and apply the indend lines of code after **:** 

**for** *variable_name* **in** *list* **:**
    
    *<CODE>*
    
    *<CODE>*
    
    *......*

In [25]:
zoo = ['dogs','cats','elephants','kardashians']
for animals in zoo:
    print(animals)
    print("-----")

dogs
-----
cats
-----
elephants
-----
kardashians
-----

The **range** operator can be used to set a numeric range for the for loop inplace of a list

**for** *variable_name* **in** **range(** *start_number*, *end_number*, *step_size* **)** **:**
    
    *<CODE>*
    
    *<CODE>*
    
    *......*

In [ ]:
for number in range(0,10,2):
    print(number)

For loops with ranges can also be used to repeat an operation certain number of times

In [ ]:
a = 0 
for count in range(10):
    a += 1 
print(a)

<br>
while loops can be used to index a list, but it is still prepered to use a for loop

In [ ]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

In [9]:
#EXERCISE: print out characters from y one at time using while loop

There are many ways to loops through a dictionary

<br>
Iterate over all of the keys:

In [19]:
x = {'Mars':'marshuang80@gmail.com','Jupiter':'jupiterhuang80@gmail.com','Pluto':'plutohuang80@gmail.com'}
for name in x:
    print(x[name])

None
billg@microsoft.com
brooksch@umich.edu

<br>
Iterate over all of the values of a dictionary:

**for** *variable_name* **in** *dictionary_name* **.values( )**:

In [20]:
for email in x.values():
    print(email)

None
billg@microsoft.com
brooksch@umich.edu

<br>
Iterate over all of the keys and values in the dictionary:

**for** *key* **,** *variable_name* **in** *dictionary_name* **.values( )**:

In [21]:
for name, email in x.items():
    print(name)
    print(email)

Kevyn Collins-Thompson
None
Bill Gates
billg@microsoft.com
Christopher Brooks
brooksch@umich.edu

<br>
# Strings and Printing

In [ ]:
firstname = 'Mars'
lastname = 'Huang'

print(firstname + ' ' + lastname) #joining strings together
print(firstname*3) #repeating a string 3 times 
print('Mars' in firstname) #bool

In [14]:
##EXERCISE: print the following
# print a,b and c on the same line
a = 1
b = 2
c = 3

1
2

In [28]:
##EXERCISE
# print lists a,b and c on the same line as seperate lists
a = [1,2]
b = [3,4]
c = [5,6]

[1, 2, 3, 4, 3, 4]

Since **+** joins a list, use **,** to seperate lists while printing

In [29]:
a = [1,2]
b = [3,4]
c = [5,6]
print(a,b,c)

[1, 2] [3, 4] [5, 6]

In [ ]:
##EXERCISE
# print lists the frist 4 elements of list A and the reverse of last 3 elements of list B as one list
A = [0,1,2,3,4,5,6,7,8,9]
B = [14,13,12,11,10]

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [16]:
name = 'Mars Shih-Cheng Huang'
print(name.split(' '))

['Mars', 'Shih-Cheng', 'Huang']

In [30]:
name = 'Mars Shih-Cheng Huang'
print(name.split(','))

['Mars Shih-Cheng Huang']

In [ ]:
#print out my last name and first name from "name" using list indexing and split

<br>
Make sure you convert objects to strings before concatenating.

In [ ]:
'Mars' + 2

In [ ]:
'Mars' + str(2)

In [17]:
#Exercise: Create a dictionary called classes, with the classes you're taking as key, 
#and the grade that your want to recieve as index

In [18]:
#Exercise: print out all key, values from your diciotnary in the following format:
#"The grade that I want to revieve for ____ class is ____"

<br>
You can unpack a sequence into different variables:

In [23]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com')
fname, lname, email = x

In [24]:
fname

'Christopher'

In [25]:
lname

'Brooks'

In [ ]:
print('Mars' + 2)

In [ ]:
print('Mars' + str(2))

<br>
Python has a built in method for convenient string formatting.

In [19]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [20]:
#Another method
print('%s bought %i item(s) at a price of %f each for a total of %f'%(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.240000 each for a total of 12.960000

In [ ]:
#Exercise: print out "I took 'a' shots and drank 'b' bottles of beer yesterday night"
a = 7
b = 2

# Unpacking

<br>
You can unpack a sequence into different variables:

In [23]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com')
fname, lname, email = x

In [24]:
fname

'Christopher'

In [25]:
lname

'Brooks'

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [ ]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com', 'San Diego')
fname, lname, email = x