<br>
# Mars' Python Tutorial 4

In [27]:
##Review Exercise: calculate the average electricity consumption while driving in the city

2.21

In [29]:
##Review Exercise2: count how many different brands of cars there are, and print out all the different brands once

8

# The power of python's one liner
Quicksort with only one line (by Rohit Malshe)

In [12]:
qsort = lambda l : l if len(l)<=1 else qsort([x for x in l[1:] if x < l[0]]) + [l[0]] + qsort([x for x in l[1:] if x >= l[0]])
qsort([1,2,5,7,8,2,6,8])

[1, 2, 2, 5, 6, 7, 8, 8]

# List Comprehension

imagine if you can fit your for loops in one line

In [1]:
a = [1,2,3,4,5,6,7]
b = []
for num in a: 
    b.append(num*2)
b

[2, 4, 6, 8, 10, 12, 14]

using the "**for... in**" syntax

In [2]:
a = [1,2,3,4,5,6,7]
b = [num*2 for num in a]
b

[2, 4, 6, 8, 10, 12, 14]

In [2]:
#Exercise: using list comprehension and "range" syntax to store number 0 to 9 to list "numbers"

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

We can also include if statements in list comprhension

"** if ... else ... for ... in ... **"

or

"** for ... in ... if ...**"

In [3]:
a = [0,1,2,3,4,5,6,7,8,9,10]
b = [num for num in a if num%2 == 0]
b

[0, 2, 4, 6, 8, 10]

In [6]:
c = [-num if num%2 ==0 else num*10 for num in a]
c

[0, 10, -2, 30, -4, 50, -6, 70, -8, 90, -10]

In [18]:
#Exercise: read in file "practice2.txt". parse each word as an element in the list. 
#return only the first 2 characters for words longer than 5 characters
#captialize words than are shorter than 5 characters
#Use list comprehension!
#eg: ['THE','MAIN','co','FOR','THE','ac','OF','LOVE','IS','THE','ov','OF'.........

['THE',
 'MAIN',
 'co',
 'FOR',
 'THE',
 'ac',
 'OF',
 'LOVE',
 'IS',
 'THE',
 'ov',
 'OF',
 'on',
 'na',
 'THE',
 'na',
 'or',
 'IS',
 'ONE',
 'IN',
 'wh',
 'ONE',
 'ex',
 'AS',
 'REAL',
 'ONLY',
 'THAT',
 'wh',
 'ex',
 'wi',
 'on',
 'wh',
 'THE',
 'ph',
 'IN',
 'THE',
 'ou',
 'wo',
 'HAVE',
 'NO',
 're',
 'IN',
 'th',
 'BUT',
 'ARE',
 'ex',
 'ONLY',
 'FROM',
 'THE',
 'vi',
 'OF',
 'th',
 'be',
 'us',
 'OR',
 'da',
 'TO',
 'ONE.',
 'THE',
 'op',
 'POLE',
 'TO',
 'na',
 'IS',
 'ob',
 'IT',
 'IS',
 'THE',
 'fa',
 'TO',
 'SEE',
 'ot',
 'pe',
 'AND',
 'th',
 'AS',
 'THEY',
 'ARE,',
 'ob',
 'AND',
 'TO',
 'BE',
 'ABLE',
 'TO',
 'se',
 'THIS',
 'ob',
 'pi',
 'FROM',
 'A',
 'pi',
 'wh',
 'IS',
 'fo',
 'BY',
 'on',
 'de',
 'AND',
 'fe']

# Applying List Comprehension
back on our cars.csv example

In [ ]:
###Exercise: calculate the average electricity consumption while driving in the city
#Using list comprehension

In [ ]:
##Exercise2: count how many different brands of cars there are, and print out all the different brands once
#Using list comprehension

# Lambda Functions: writing functions in 1 line

lambda  __variable__  :  __returnValue__

In [11]:
a = lambda x: x*2
a(2)

4

In [12]:
b = lambda x,y: x+y
b(2,3)

5

In [1]:
#Exercise: make a lambda function named "c" that returns the product of two numbers

Lambda functions can also take in conditional statements

*lambda* **variable**: **returnValue1** if *conidtion* else **returnVlaue2**

In [5]:
b = lambda x: -1 if x >= 0 else 1
print(b(-20))
print(b(99))

1
-1

# Using lambda functions as variables
There are some standard python functions that takes in lambda functions as a variable. In this tutorial, we are going to talk about 4 of them: 

**Filter:**

Filter calls the lambda function on it's second input (usually a list), and return only those that are *true* under the lambda condition

In [7]:
nums = [-5,2,200,-1,-19,-20]
r = filter(lambda x: x >= 0, nums)
print(r)

<filter object at 0x106d1fc50>

As you can see, the return value of **filter** is a **filter object**, we have to manually convert the results to a list

In [ ]:
print(list(r))
#or
print(list(filter(lambda x: x >= 0, nums)))

**Map:**

The map function simply applies the lambda function to a list

In [8]:
nums = [1,2,3,4,5]
print(list(map(lambda x: x**2, nums)))

[1, 4, 9, 16, 25]

**Reduce:**

The reduce function takes in two variables, thus it's lambda function has to have two parameters as well. The function take in the first two elements from the list and return a value. Then, the value is reused again as the first parameter, with the next element of the list being the second. This process is repeated until the end of the input list.

*reduce has to be imported from functools*

*returns a value, not stored in reduce variable*

In [11]:
from functools import reduce
nums = [0,1,1,2,3,5,8]
print(reduce(lambda a,b: a+b,nums))

20