<br>
# Tutorial 2: Loops and indexing

# Loops 

Loops are used to execuate a code for multiple times

### while loops 

while loops are used to execute a block of code until the initial conidtion becomes True


**while** *condition* **:**
    
    *<CODE>*
    
    *<CODE>*
    
    *......*
    
**warning** if a conidition is never reached, while loops will run forever

In [ ]:
a = 0
while a != 10:    #!= (not equals to), == (equalts to), > (greater than), < (less than) = (variable assignment)
       a += 1     #+= (same as : a = a + 1 )
print(a)

### for loops

for loops get each item in a list, give it a temporary variable name, and apply the indend lines of code after **:** 

**for** *variable_name* **in** *list* **:**
    
    *<CODE>*
    
    *<CODE>*
    
    *......*

In [25]:
zoo = ['dogs','cats','elephants','kardashians']
for animals in zoo:
    print(animals)
    print("-----")

dogs
-----
cats
-----
elephants
-----
kardashians
-----

The **range** operator can be used to set a numeric range for the for loop inplace of a list

**for** *variable_name* **in** **range(** *start_number*, *end_number*, *step_size* **)** **:**
    
    *<CODE>*
    
    *<CODE>*
    
    *......*

In [ ]:
for number in range(0,10,2):
    print(number)

For loops with ranges can also be used to repeat an operation certain number of times

In [ ]:
a = 0 
for count in range(10):
    a += 1 
print(a)

<br>
while loops can be used to index a list, but it is still prepered to use a for loop

In [ ]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

In [9]:
#EXERCISE: print out characters from y one at time using while loop

There are many ways to loops through a dictionary

<br>
Iterate over all of the keys:

In [19]:
x = {'Mars':'marshuang80@gmail.com','Jupiter':'jupiterhuang80@gmail.com','Pluto':'plutohuang80@gmail.com'}
for name in x:
    print(x[name])

None
billg@microsoft.com
brooksch@umich.edu

<br>
Iterate over all of the values of a dictionary:

**for** *variable_name* **in** *dictionary_name* **.values( )**:

In [20]:
for email in x.values():
    print(email)

None
billg@microsoft.com
brooksch@umich.edu

<br>
Iterate over all of the keys and values in the dictionary:

**for** *key* **,** *variable_name* **in** *dictionary_name* **.values( )**:

In [21]:
for name, email in x.items():
    print(name)
    print(email)

Kevyn Collins-Thompson
None
Bill Gates
billg@microsoft.com
Christopher Brooks
brooksch@umich.edu

<br>
# Strings and Printing

In [ ]:
firstname = 'Mars'
lastname = 'Huang'

print(firstname + ' ' + lastname) #joining strings together
print(firstname*3) #repeating a string 3 times 
print('Mars' in firstname) #bool

In [14]:
##EXERCISE: print the following
# print a,b and c on the same line
a = 1
b = 2
c = 3

1
2

In [28]:
##EXERCISE
# print lists a,b and c on the same line as seperate lists
a = [1,2]
b = [3,4]
c = [5,6]

[1, 2, 3, 4, 3, 4]

Since **+** joins a list, use **,** to seperate lists while printing

In [29]:
a = [1,2]
b = [3,4]
c = [5,6]
print(a,b,c)

[1, 2] [3, 4] [5, 6]

In [ ]:
##EXERCISE
# print lists the frist 4 elements of list A and the reverse of last 3 elements of list B as one list
A = [0,1,2,3,4,5,6,7,8,9]
B = [14,13,12,11,10]

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [16]:
name = 'Mars Shih-Cheng Huang'
print(name.split(' '))

['Mars', 'Shih-Cheng', 'Huang']

In [30]:
name = 'Mars Shih-Cheng Huang'
print(name.split(','))

['Mars Shih-Cheng Huang']

In [ ]:
#print out my last name and first name from "name" using list indexing and split

<br>
Make sure you convert objects to strings before concatenating.

In [ ]:
'Mars' + 2

In [ ]:
'Mars' + str(2)

In [17]:
#Exercise: Create a dictionary called classes, with the classes you're taking as key, 
#and the grade that your want to recieve as index

In [18]:
#Exercise: print out all key, values from your diciotnary in the following format:
#"The grade that I want to revieve for ____ class is ____"

<br>
You can unpack a sequence into different variables:

In [23]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com')
fname, lname, email = x

In [24]:
fname

'Christopher'

In [25]:
lname

'Brooks'

In [ ]:
print('Mars' + 2)

In [ ]:
print('Mars' + str(2))

<br>
Python has a built in method for convenient string formatting.

In [19]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [20]:
#Another method
print('%s bought %i item(s) at a price of %f each for a total of %f'%(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.240000 each for a total of 12.960000

In [ ]:
#Exercise: print out "I took 'a' shots and drank 'b' bottles of beer yesterday night"
a = 7
b = 2

# Unpacking

<br>
You can unpack a sequence into different variables:

In [23]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com')
fname, lname, email = x

In [24]:
fname

'Christopher'

In [25]:
lname

'Brooks'

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [ ]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com', 'San Diego')
fname, lname, email = x